apikey = "replace with your apikey"

secretkey = <<EOF
-----BEGIN RSA PRIVATE KEY-----
replace with your intersight secret key
-----END RSA PRIVATE KEY-----
EOF

organization = "replace with your org id"
workflow_moid = "replace with your workflow moid"
roomid = "replace with your webex room id"
workflowname = "replace with your workflow name"